body {
  margin: 0px;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

h1 {
  color: rgb(23,162,184);
}

.main-container {
  width: 100%;
}

/* NAVBAR */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.25rem;
  padding: 1.2rem 4rem;
  box-sizing: border-box;
  /* opacity: 0.2; */
}

.text-logo {
  color: rgb(191,178,129);
  font-weight: bold;
}

.navbar-items {
  display: flex;
}

.navbar-item {
  padding: 0.5rem 1rem;
}

/* SERVICES CONTAINER */
.services-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  background-image: url(../img/volvo.jpg);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}
.services-container-items {
  width: 80%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  background-color: orange;
}
.services-container-item {
  display: flex;
  background-color: dodgerblue;
  width: 30%;
  height: 50%;
}
/*
.services-container-items {
  display: flex;
  }

  .services-container-item {
    padding: 0.5rem 1rem;
    background-color: white;
  }*/

/* CONTACT US CONTAINER */
.contact-us-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.contact-us-content-container {
  width: 90%;
  display: flex;
}

.contact-us-location-container {
  text-align: left;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
}
